{{> header}}
{{> navbar}}

    <div class="col-8">
        <h1>Zelda</h1>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores iste incidunt illo quibusdam, animi numquam quaerat odit, laudantium quasi atque quae quam voluptas at laborum pariatur harum rerum eius fugiat.
        </p>
    </div>
    <div class="col-4">
        <img src="assets//img/zelda.jpg" class="img-thumbnail" alt="">
    </div>
 {{> footer}}